{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
    <div class="frame">
        <!-- //header -->
        <div class="container">
            <!-- //nav -->
            <div class="content">
                <table id="hor-minimalist-b" width = 1000px>
                    <thead>
                        <tr>
                            <td width=300><p >제목</p></td>
                            <td width=350><p >등록 시간</p></td>
                            <td width=350><p >최근 열람 시간</p></td>
                            <td width=200><p >즐겨찾기</p></td>
                            <td width=200><p >파일 크기</p></td>
                            <td width=200><p >파일 삭제</p></td>
                        </tr>
                    </thead>
                    {% if folderList %}
                        <tbody>
                            {% for folderRow in folderList %}
                                <tr>
                                    <td width=50><a href="/{{ folderRow.dir_name }}", align=center>{{ folderRow.dir_name }}</a></td>
                                    <td width=100><p  href="",>{{ folderRow.uploaded_TM }}</p></td>
                                    <td width=100><p  href="",>{{ folderRow.last_view_TM }}</p></td>
                                    <td width=100><p  href="",>{{ folderRow.isFavor }}</p></td>
                                    <td width=100><p  href="",>{{ folderRow.fileSize }}</p></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}

                    {% endif %}
                    {% if fileList %}
                        <tbody>
                            {% for fileRow in fileList %}
                                <tr>
                                    <td width=50><a href="/download/{{ fileRow.bucketPath }}{{ fileRow.title }}//{{ fileRow.title }}//{{ fileRow.bucketPath }}" align=center>{{ fileRow.title }}</a></td>
                                    <td width=100><p href="", >{{ fileRow.uploaded_TM }}</p></td>
                                    <td width=100><p  href="", >{{ fileRow.last_view_TM }}</p></td>
                                    <td width=100><a  href="/changeFavor/{{ fileRow.bucketPath }}/{{ fileRow.title }}" align=center>{{ fileRow.isFavor }}</a></td>
                                    <td width=100><p  href="", >{{ fileRow.fileSize }}</p></td>
                                    <td width=100><a  href="/delete/{{ fileRow.bucketPath }}{{ fileRow.title }}//{{ fileRow.title }}//{{ fileRow.bucketPath }}" align=center>파일 삭제</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}

                    {% endif %}

                </table>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //frame -->

{% endblock %}
